* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6, p, ul, pre {
  margin-bottom: 2ch;
}
hr {
  margin: 2ch 0;
  height: 1px;
  background: white;
}
a {
  color: turquoise;
}
body {
  background: black;
  color: white;
  padding: 1ch;
  max-width: 80ch;
}

ul {
  padding-left: 2ch;
}

summary {
  cursor: pointer;
}

.contents ul ul {
  display: none;
}

/* reset of texinfo */
div.example {
  margin: 0;
}

#comments ol {
  list-style: none;
}

#comments li {
  background: rgba(255,255,255,0.075);
  padding: 2ch;
  margin-bottom: 2ch;
}

#comments pre {
  white-space: pre-line;
}

#comments .reply-instruction {
  background: black;
  padding: 2ch;
  margin: 2ch;
}

#comments .comment-instruction {
  background: turquoise;
  color: black;
  padding: 2ch;
  margin-bottom: 2ch;
}

#comments .comment-instruction table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 1ch;
  width: 100%;
}
#comments .comment-instruction table td,
#comments .comment-instruction table th {
  border: 1px solid;
  padding: 1ch;
}

#comments .comment-instruction * {
  color: black;
}
