@font-face {
    font-family: noto-serif;
    src: url(../fonts/NotoSerif-Regular.ttf);
}

@import "code.css";

:root {
    --color-white: #fdfffc;
    --color-dark: #011627;
    --color-background: var(--color-white);
    --color-primary: var(--color-dark);
    --color-primary-transparent: #011627CC;
    --color-link: #13315c;
    --color-link-hover: #13315c66;

    --font-size-bigger: 1.5rem;
    --font-size-big: 1.2rem;
    --font-size-default: 1rem;
    --font-size-small: 0.75rem;

    --spacing-half: 0.5rem;
    --spacing-1x: 1rem;
    --spacing-2x: 2rem;
}

html[data-dark-theme="true"] {
    --color-background: var(--color-dark);
    --color-primary: var(--color-white);
    --color-primary-transparent: #fdfffc33;
    --color-link: #8da9c4;
    --color-link-hover: #8da9c466;
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: noto-serif, serif;
}

body {
    background: var(--color-background);
    color: var(--color-primary);
    font-size: var(--font-size-default);
    padding: var(--spacing-2x);
    text-rendering: optimizeLegibility;
}

body > header {
    display: flex;
    align-items: center;
    gap: var(--spacing-1x);
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: var(--spacing-2x);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

article :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--spacing-2x);
}

article footer {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-1x);
}

p {
    line-height: 2;
}

a {
    color: var(--color-link);
}

hr {
    border: 0;
    border-bottom: 1px solid var(--color-primary);
}

a:hover {
    color: var(--color-link-hover);
}

time {
    font-size: var(--font-size-small);
}

body > header > :is(h1, h2) {
    margin: 0;
}

body > header > h1 {
    font-size: var(--font-size-bigger);
}
body > header > h1 > :is(a, a:hover) {
    color: var(--color-background);
    text-decoration: none;
    background: var(--color-primary);
    padding: var(--spacing-half);
    display: block;
}

body > header > h2 {
    font-size: var(--font-size-default);
    font-style: italic;
}

body > footer {
    padding-top: var(--spacing-half);
    border-top: 1px solid var(--color-primary);
    margin-top: var(--spacing-2x);
}

pre {
    border: 1px solid var(--color-primary);
    padding: var(--spacing-2x);
    background: var(--color-dark);
    color: var(--color-white);
    word-wrap: break-word;
    overflow: auto;
}

#page-layout {
    display: flex;
    padding: var(--spacing-1x) 0;
}

#page-layout > nav {
    min-width: 15rem;
    padding: 0 var(--spacing-2x);
}

#page-layout main {
    max-width: min(680px, 100%);
}

@media screen and (max-width: 880px) {
    #page-layout > nav {
        display: none;
    }
    body > header {
        align-items: start;
        gap: var(--spacing-1x);
        padding-bottom: var(--spacing-1x);
        flex-direction: column;
    }
}

#page-layout > nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#page-layout > nav ul:before{
    content:attr(aria-label);
    font-weight: bold;
    font-size: var(--font-size-big);
    padding-bottom: var(--spacing-half);
    display: block;
}

#page-layout > nav ul:not(:first-child){
    margin-top: var(--spacing-2x);
}

#page-layout > nav ul a {
    text-decoration: none;
    display: block;
    padding: var(--spacing-half) 0;
}

.entry-title {
    margin-top: 0;
    margin-bottom: var(--spacing-1x);
}
h1.entry-title a {
    color: var(--color-primary);
    text-decoration: none;
}

.hentry {
    margin-bottom: var(--spacing-2x);
}
.feedbacks {
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    padding: var(--spacing-1x) 0;
}

/* Post list  */
#post-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lights {
    background: none;
    border: none;
    color: var(--color-primary);
    font-size: var(--font-size-default);
    padding: var(--spacing-1x) 0;
    color: var(--color-link);
    cursor: pointer;
}
